@media screen and (max-width: 756px) {
    .info-wrapper {
        flex-direction: column;
        align-items: center;
    }

    .info-wrapper img {
        max-height: 100%;
        max-width: 100%;
        height: 100% !important;
        width: 100% !important;
    }
}